.todoItem {
	padding: 0.75rem;
	margin-top: 24px;
	border: 1px solid var(--border-base-color);
	.title {
		font-size: 16px;
		margin-inline: 12px;
		color: rgb(99, 99, 99);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}
	@media screen and (min-width: 612px) {
		padding: 1rem;

		.title {
			font-size: 18px;
		}
	}
}

.editBox {
	padding: 12px 12px 32px 12px;
	background-color: #fff;
	width: calc(100vw - 24px);
	@media screen and (min-width: 612px) {
		width: var(--maxwidth-layout) !important;
	}
	border-radius: 8px;
}
